doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Detail
  link(rel='shortcut icon' href='favicon.ico')
  // Google Webfonts
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  // Animate.css
  link(rel='stylesheet' href='css_detail/style.css')
  link(rel='stylesheet' href='css_detail/animate.css')
  // Icomoon Icon Fonts
  link(rel='stylesheet' href='css_detail/icomoon.css')
  // Magnific Popup
  link(rel='stylesheet' href='css_detail/magnific-popup.css')
  // Salvattore
  link(rel='stylesheet' href='css_detail/salvattore.css')
  // Theme Style
  // Modernizr JS
  script(src='js/modernizr-2.6.2.min.js')
  // FOR IE9 below
  //if lt IE 9
    script(src='js/respond.min.js')
#fh5co-offcanvass
  a.fh5co-offcanvass-close.js-fh5co-offcanvass-close(href='#')
    | Menu 
    i.icon-cross
  h1.fh5co-logo
    a.navbar-brand(href='index.html') Hydrogen

  ul
    li
      a(href='index.html') Home
    li.active
      a(href='about.html') About
    li
      a(href='pricing.html') Pricing
    li
      a(href='contact.html') Contact
  h3.fh5co-lead Connect with us
  p.fh5co-social-icons
    //-   i.icon-facebook
    //- a(href='#')
    //-   i.icon-instagram
    //- a(href='#')
header#fh5co-header(role='banner')
  .container
    .row
      .col-md-12
        a.fh5co-menu-btn.js-fh5co-menu-btn(href='#')
          | Menu 
          i.icon-menu
        //- a.navbar-brand(href='index.html') Hydrogen
// END .header
#fh5co-main
  .container
    .row
      .col-md-8.col-md-offset-2
        div.box#square
                a.image-popup.fh5co-board-img
                  img(src=`${article.urlImg}` style="height: 400px")
                  p
                    a#title(href=`http://localhost:3000/articles/${article.slug}`)
                      strong #{article.title}
                    p #{article.content}
                button#btnDel.btn.btn-danger(type='click') DELETE
                button#btnUpdate.btn.btn-danger(type='click') UPDATE
        //- div.box#square
        //-   h2 Personal Bio
        //-   .fh5co-spacer.fh5co-spacer-sm
        //-   p
        //-     img.img-rounded.img-responsive(src=`${article.urlImg}` style="height: 400px")
        //-   p 
        //-     strong #{article.title}
        //-   p #{article.content}
        //-   button#btnDel.btn.btn-danger(type='click') DELETE
  script(src='/js/articles.js')
