html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" type="text/css" href="/css/global.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        block styles
    body
        .container
            //- block content
            form(action=`/articles/${article.slug}/update`, method="post" enctype="application/x-www-form-urlencoded")
                .form-group
                    label.form-label Title
                    input#title.form-control(
                        type='text' 
                        name='title'
                        aria-describedby='emailHelp'
                        value=article.title
                        read-only=true
                    )
                    #emailHelp.form-text We&apos;ll never share your email with anyone else.
                .form-group
                    label Content
                    textarea#content.form-control(rows='3' name='content') #{article.content}
                        
                button#btnUpdateForm.btn.btn-primary(type='submit') Update


    //- block scripts
    //- script(src='/js/updateArticle.js')